@page "{OrganizationId}/{ProductId}"
@model OrganizationProductModel
@{
    ViewData["Title"] = "Organization Product ";
}

@await Html.PartialAsync("_Modals")


<div id="app">

    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Organization Product</h2></div>
        <div class="card-body">Manage the product <b>{{root.model.productName}}</b> for the organization <b>{{root.model.organizationName}}</b> </div>
    </div>
    <br />
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" ba-if="root.model.modelSaved">
        <strong>Changes have been saved !</strong><br />
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <ul class="nav">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/IAM/Organization" asp-route-id="@Model.OrganizationId" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-sm btn-outline-primary" type="button" ba-click="updateEntity()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> Save</button>
        </li>
    </ul>
    <br />

    <div class="form-group">
        <label class="control-label">API Path<span style="color: red"> *</span></label>
        <input id="tb_apipath" type="text" class="form-control form-control-sm" ba-bind="root.model.apiPath" />
    </div>

    <div class="form-group">
        <label class="control-label">Product URI<span style="color: red"> *</span></label>
        <input id="tb_produri" type="text" class="form-control form-control-sm" ba-bind="root.model.productURI" />
    </div>

    <div class="form-group">
        <label class="control-label">Mobile Client Version<span style="color: red"> *</span></label>
        <input id="tb_mobile_client" type="text" class="form-control form-control-sm" ba-bind="root.model.mobileClientVersion" />
    </div>

    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" ba-click="addRoleAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>Roles</h5>
            </li>
        </ul>
        <p><i>By adding roles the organization will be granted access to the product according to the role</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
            </tr>
        </thead>
        <tbody ba-foreach="item in root.model.roleAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" ba-click="removeAuthorizationItem()" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" ba-click="addSystemAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>System Permission</h5>
            </li>
        </ul>
        <p><i>By adding system-permissions the organization will be granted access to all applications in a system in the product</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:30%">Status</th>
            </tr>
        </thead>
        <tbody ba-foreach="item in root.model.systemAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" ba-click="removeAuthorizationItem()" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span ba-if="item.denyAuthorization">Denied</span><span ba-if="!item.denyAuthorization">Authorized</span></td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" ba-click="addApplicationAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>Application Permission</h5>
            </li>
        </ul>
        <p><i>By adding application-permissions the organization will be granted access to applications in the product</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:30%">Status</th>
            </tr>
        </thead>
        <tbody ba-foreach="item in root.model.applicationAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" ba-click="removeAuthorizationItem()" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span ba-if="item.denyAuthorization">Denied</span><span ba-if="!item.denyAuthorization">Authorized</span></td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" ba-click="addViewAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>View Permission</h5>
            </li>
        </ul>
        <p><i>By adding application-view-permissions the organization will be granted access to views in the product</i></p>
    </div>

    <br />

    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:30%">Status</th>
            </tr>
        </thead>
        <tbody ba-foreach="item in root.model.viewAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" ba-click="removeAuthorizationItem()" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span ba-if="item.denyAuthorization">Denied</span><span ba-if="!item.denyAuthorization">Authorized</span></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <div class="modal" id="addAuthorizationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authorize {{authorization.authorizationItemTypeName}}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" ba-if="authorization.authorizationType=='ROLE'">
                        <label class="control-label">Select Role<span style="color: red"> *</span></label>
                        <select ba-bind="authorization.authorizationId" class="form-control form-control-sm">
                            <option ba-foreach="item in authitem.roleItems">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" ba-if="authorization.authorizationType=='SYSTEM'">
                        <label class="control-label">Select System<span style="color: red"> *</span></label>
                        <select ba-bind="authorization.authorizationId" class="form-control form-control-sm">
                            <option ba-foreach="item in authitem.systemItems">{{item.name}}</option>
                        </select>
                        <input type="checkbox" ba-bind="authorization.denyAuthorization" /> Deny
                    </div>
                    <div class="form-group" ba-if="authorization.authorizationType=='APPLICATION'">
                        <label class="control-label">Select Application<span style="color: red"> *</span></label>
                        <select ba-bind="authorization.authorizationId" class="form-control form-control-sm">
                            <option ba-foreach="item in authitem.applicationItems">{{item.name}}</option>
                        </select>
                        <input type="checkbox" ba-bind="authorization.denyAuthorization" /> Deny
                    </div>
                    <div class="form-group" ba-if="authorization.authorizationType=='UIVIEW'">
                        <label class="control-label">Select View<span style="color: red"> *</span></label>
                        <select ba-bind="authorization.authorizationId" class="form-control form-control-sm">
                            <option ba-foreach="item in authitem.viewItems">{{item.name}}</option>
                        </select>
                        <input type="checkbox" ba-bind="authorization.denyAuthorization" /> Deny
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="addAuthorizationModalOkBtn" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" ba-hide="authorization.authorizationId==0">Ok</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts
    {

    <script type="module">

        import { BareaApp } from '/js/barea_dev.js';

        const appcontent = {
            data:
            {
                model: {},
                authorization: {},
                authitem: {},
                users: [],
                idgen: -1
            },
            methods: {


                updateEntity: async function () 
                {
                    let baseurl = '@Url.Content("~/Identity/IAM/")';
                    let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=UpdateEntity";
                    let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                    try {
                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(clientdata.model)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                        clientdata.model.modelSaved = true;
                        setTimeout(function () { clientdata.model.modelSaved = false; }, 3000);

                    } catch (error) {
                        //raiseErrorModal(error);
                    }


                },
                removeAuthorizationItem: async function (a,b,item) 
                {
                    let baseurl = '@Url.Content("~/Identity/IAM/")';
                    let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=RemoveAuthorization";
                    let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                    try {
                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(item)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                      

                    } catch (error) {
                        //raiseErrorModal(error);
                    }


                },
                addRoleAuth: function () {


                    clientdata.authorization = { authorizationType: "ROLE", authorizationId: 0, authorizationItemTypeName: "Role", userId: "", organizationId: 0, productId: "" }

                    let okfunc = async function () {

                        clientdata.authorization.organizationId = @Model.OrganizationId;
                        clientdata.authorization.productId = "@Model.ProductId";

                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddRoleAuthorization";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(clientdata.authorization)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                    }

                    raiseAddAuthorizationModal(okfunc);
                },
                addSystemAuth: function () 
                {
                    clientdata.authorization = { authorizationType: "SYSTEM", authorizationId: 0, authorizationItemTypeName: "System", userId: "", organizationId: 0, productId: "", denyAuthorization: false }

                    let okfunc = async function () {

                        clientdata.authorization.organizationId = @Model.OrganizationId;
                        clientdata.authorization.productId = "@Model.ProductId";

                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddSystemAuthorization";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(clientdata.authorization)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                        
                    }

                    raiseAddAuthorizationModal(okfunc);
                },
                addApplicationAuth: function () {

                    clientdata.authorization = { authorizationType: "APPLICATION", authorizationId: 0, authorizationItemTypeName: "Application", userId: "", organizationId: 0, productId: "", denyAuthorization: false }

                    let okfunc = async function () {

                        clientdata.authorization.organizationId = @Model.OrganizationId;
                        clientdata.authorization.productId = "@Model.ProductId";

                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddApplicationAuthorization";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(clientdata.authorization)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                        
                    }

                    raiseAddAuthorizationModal(okfunc);

                },
                addViewAuth: function () 
                {

                    clientdata.authorization = { authorizationType: "VIEW", authorizationId: 0, authorizationItemTypeName: "View", userId: "", organizationId: 0, productId: "", denyAuthorization: false }

                    let okfunc = async function () {
                        clientdata.authorization.organizationId = @Model.OrganizationId;
                        clientdata.authorization.productId = "@Model.ProductId";

                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddViewAuthorization";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        const response = await fetch(endpointurl, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "RequestVerificationToken": antiforgerytoken
                            },
                            body: JSON.stringify(clientdata.authorization)
                        });

                        if (!response.ok) {
                            throw await response.json();
                        }


                        clientdata.model = await response.json();
                    }

                    raiseAddAuthorizationModal(okfunc);

                }
                
            },
            computed:
            {
                example: function () {

                }

            },
            mounted: function (applicationData) {
                let baseurl = '@Url.Content("~/Identity/IAM/")';
                let endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=Load";
                const retval = fetch(endpointurl)
                    .then(response => response.json())
                    .then(data => {
                        applicationData.model = data;
                        endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=LoadAuthItems";
                        fetch(endpointurl)
                            .then(response => response.json())
                            .then(data => {
                                applicationData.authitem = data;
                                return data;
                            })
                            .catch(error => console.error("Error fetching data:", error));
                        return data;
                    })
                    .catch(error => console.error("Error fetching data:", error));

                return retval;
            }
        };

        const app = new BareaApp();
        let clientdata = app.mount("app", appcontent);


        let raiseAddAuthorizationModal = function (callback) {
            let modal = new bootstrap.Modal(document.getElementById("addAuthorizationModal"));
            document.getElementById("addAuthorizationModalOkBtn").onclick = function () {
                modal.hide();
                if (typeof callback === "function") callback();
            };
            modal.show();
        }

    </script>



   

}

