@page
@model ProductListModel
@{
    ViewData["Title"] = "Products";
}

@await Html.PartialAsync("_Modals")


<div id="app">

    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Products</h2></div>
        <div class="card-body">Add and remove products available to users</div>
    </div>

    <br />
    <br />

    <div>

        <div class="btn btn-sm btn-secondary" v-on:click="addEntity()">
            <span class="fa fa-plus"></span>
        </div>
    </div>
    <br />
    <br />
    <table class="table table">
        <thead>
            <tr>

                <th style="width:5%"></th>
                <th style="width:5%"></th>
                <th style="width:25%">Id</th>
                <th style="width:15%">Name</th>
            </tr>
        </thead>
        <tbody ba-foreach="item in root.list">
            <tr>
                <td><div class="btn btn-sm btn-danger" ba-lick="deleteEntity()" title=" Delete"><i class="fa fa-trash"></i></div></td>
                <td><a role="button" class="btn btn-sm btn-secondary" ba-click="goToProduct()" title="Edit"><i class="fas fa-edit"></i></a></td>
                <td>{{item.id}}</td>
                <td>{{item.productName}}</td>

            </tr>
        </tbody>
    </table>

    <div class="modal" data-bs-backdrop="static" id="addEntityModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Name<span style="color: red"> *</span></label>
                        <input id="tb_firstname" type="text" class="form-control form-control-sm" v-model="root.model.productName" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="addEntityOkBtn" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
    {

         <script type="module">

        import {BareaApp} from '/js/barea_dev.js';

        const appcontent = {
            data:
            {
                model: {},
                list: [],
                idgen: -1
            },
            methods: {


                addEntity: function ()
                {
                    let okfunc = function ()
                    {
                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "UserList?handler=AddUser";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        fetch(endpointurl, {
                          method: "POST",
                          headers: {
                            "Content-Type": "application/json",
                            "RequestVerificationToken": antiforgerytoken
                          },
                          body: JSON.stringify(clientdata.model)
                        })
                        .then(response => response.json())  
                        .then(data => {
                          clientdata.list = data;
                        })
                        .catch(error => {
                          console.error("Error:", error);
                        });
                    }

                    raiseAddProductModal(okfunc);

                },
                goTpProduct: function (a,b,entry)
                {
                    //'Product/' + item.id
                    window.location.href = `/Identity/IAM/Product/${entry.id}`;
                },
                deleteEntity: function (a,b,entry)
                {

                    let yesfunc = async function () 
                    {
                        let baseurl = '@Url.Content("~/Identity/IAM/")';
                        let endpointurl = baseurl + "ProductList?handler=DeleteEntity";
                        let antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        try {
                            const response = await fetch(endpointurl, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    "RequestVerificationToken": antiforgerytoken
                                },
                                body: JSON.stringify(entry)
                            });

                            if (!response.ok) {
                                throw await response.json();
                            }

                            clientdata.list = await response.json();
                        } catch (error) {
                            raiseErrorModal(error);
                        }
                    };

                    raiseYesNoModal("Delete user ?", "The user will be deleted, continue ?", yesfunc);
                }
            },
            computed:
            {
                example: function ()
                {

                }

            },
            mounted: function (applicationData)
            {
                let baseurl = '@Url.Content("~/Identity/IAM/")';
                let endpointurl = baseurl + "ProductList?handler=Load";
                const retval = fetch(endpointurl)
                    .then(response => response.json()) 
                    .then(data => {
                        applicationData.users = data;
                        return data;
                    })
                    .catch(error => console.error("Error fetching data:", error));

                return retval;
            }
        };

        const app = new BareaApp();
        let clientdata = app.mount("app", appcontent);


         let raiseAddProductModal = function(callback) {
            let modal = new bootstrap.Modal(document.getElementById("addEntityModal"));
            document.getElementById("addEntityOkBtn").onclick = function () {
                modal.hide();
                if (typeof callback === "function") callback();
            };
            modal.show();
        }

    </script>


  
}

